<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Hello <%= @user.first_name %></h1>

<%= image_tag gravatar_url(@user.email, 200), alt: "" %>

<p><%= @user.username %></p>
<p><%= @user.city %><p>
<p>Joined <%= @user.created_at.strftime("%B %Y") %><p>

<% if current_user == @user %>
  <%= link_to "Edit", edit_user_path(@user) %>
<% end %>