<div id="map-container">
    <div id="map-canvas"></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search for an address">
</div>

<div class="content-container">
<div class="container">
    <div id="city_name" class="col-sm-10", id: "city"><h2><%= @city.name %></h2></div>
    <%= button_to "New Post", new_story_path, method: "get", class: "btn btn-default col-xs-2", id: "new-post-bttn" %>

          <div id="stories_list">
           <% @city.stories.order("created_at DESC").each do |s| %>
               <div class="row post">
                <div>
                  <% if s.user_id != nil %>
                    <a id="user-img" class="pull-left">
                        <%= image_tag gravatar_url(User.find(s.user_id).email, 100), alt: "", class: "user_img_city_posts" %>
                    </a>
                  <% end %>
                </div>
                    <div class="title">
                        <h2><%= link_to s.title, story_path(s) %></h2>
                    </div>
                    <div class="body">
                        <h4><%=h truncate(s.body, :length =>70) %></h4>
                    </div>
                </div>
                <hr>
           <% end %>
          </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhvWvwmJ8clstnuG4S4I2JeCb6bvDF824&libraries=places&callback=vagabond_map.ready"></script>
<%= javascript_include_tag "cities", "data-turbolinks-track" => true %>
