	<div id="map-container">
    <div id="map-canvas"></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search for an address">
  </div>
  
    <div class="content-container">
		  <div id="city_name"><h2><%= @city.name %></h2></div>
  		<% @city.stories.order("created_at DESC").each do |s| %>
  			<div>
  				<h2><%= link_to s.title, story_path(s) %></h2>
  			</div>
  			<div>
  				<h4><%=h truncate(s.body, :length =>70) %></h4>
  			</div>
  		<% end %>

  		New Post: <%= link_to "New Post", new_story_path %>
    </div>

		<!-- FLKJSDFLKJSDf -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhvWvwmJ8clstnuG4S4I2JeCb6bvDF824&libraries=places&callback=vagabond_map.ready"></script>
		<%= javascript_include_tag "cities", "data-turbolinks-track" => true %>
	
		<!-- FLKJSDFLKJSDf -->







