<!DOCTYPE html>
<html>
<head>
  <title>VagabondApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbarin", locals: {user: @user} %>

  <div class="container">
    <%= yield %>
<<<<<<< HEAD

  </div>
  <!-- CONTAINER END -->

<% console %>
=======
  </div>
  <%= console %>
>>>>>>> b13e485a430d252c492e21ca351ee03407f6d565
</body>
</html>
